<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<!--
    The app component no longer needs <app-heroes> because the app will only display the HeroesComponent when the user navigates to it.
    The <router-outlet> tells the router where to display routed views.

    NOTES:
    The RouterOutlet is one of the router directives that became available to the 
    AppComponent because AppModule imports AppRoutingModule which exported RouterModule. 
    The ng generate command you ran at the start of this tutorial added this import because 
    of the --module=app flag. If you manually created app-routing.module.ts or used a tool 
    other than the CLI to do so, you'll need to import AppRoutingModule into app.module.ts and 
    add it to the imports array of the NgModule.

    routerLink:
    A routerLink attribute is added to a nav element linking to the specific route.
    The routerLink is the selector for the RouterLink directive that turns user clicks
    into router navigations. Its another of the public directives in the RouterModule.

    SIDENOTE: Make this navigation links look better by adding private CSS styles to 
    the app component style file.
-->